<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/dongle" rel="stylesheet">

		<title>Joan Pons - Fruiteria</title>
	</head>
	<body>
		<script>
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/6829d1886392a3190c77f5fb/1irhlkvlv';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();

			 /* --- Smooth Scroll --- */
			import Lenis from 'lenis'
			import 'lenis/dist/lenis.css'

			const lenis = new Lenis()

			// Use requestAnimationFrame to continuously update the scroll
			const raf = (time) => {
				lenis.raf(time)
				requestAnimationFrame(raf)
				
				lenis.start()
			}

			requestAnimationFrame(raf)
		</script>
	
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		position: relative;                                                
	}

</style>
